/* Whole login frame */
.signup-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background */
.background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-svg {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1075px;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Error message */
.error-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error-message {
  color: #b30000;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 5;
}

/* Login form with logo */
.signup-form-wrapper {
  position: absolute;
  right: 8%;
  display: flex;
  width: 654px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 3;
  padding: 20px;
  border-radius: 10px;
}
.step1-form-wrapper {
  display: flex;
  width: 654px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.step2-form-wrapper, .step3-form-wrapper {
  display: flex;
  width: 654px;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
/* Keep logo proportional */
.logo {
  width: 100%;
  height: auto;
  max-width: 655px;
  aspect-ratio: 655 / 338;
}

/* Form */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.form-whole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.signup-form input , .step2-form-wrapper input, .step3-form-wrapper input {
  display: flex;
  width: 450px;
  height: 54px;
  padding: 14px;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #37612F;
  background-color: #F9EDDD;
}

.signup-form ::placeholder, .step2-form-wrapper ::placeholder , .step3-form-wrapper ::placeholder {
  color: var(--New-group-shade6, #37612F);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* Button */
button {
  width: 192px;
  height: 48px;
  padding: 10px 24px;
  border-radius: 8px;
  background: #49674B;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #36512f;
}

/* Sign up redirect */
.signup-redirect {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-redirect a {
  color: #4B8540;
  text-decoration: none;
  font-weight: bold;
}

.signup-redirect a:hover {
  text-decoration: underline;
}

.button-row-custom {
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: flex-start;
  }

.form-title {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 450px;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.form-title a {
  color: rgba(98, 125, 93, 0.80);
  flex: 1 0 0;
  /* Robot Medium H2 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 1024px) {
  .login-form-wrapper {
    right: 5%;
    width: 90%;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .login-container {
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
  }

  .bg-image,
  .bg-svg {
    display: none;
  }

  .login-form-wrapper {
    position: static;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
  }

  .login-form input,
  .form-footer,
  .passfooter {
    width: 100%;
  }

  button {
    width: 100%;
    max-width: 300px;
  }

}
