:host {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  width: 100vw;  /* Full width of the viewport */
  overflow: hidden; /* Prevent double scrollbars */
}

.page-layout {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto; /* Page scrollbar applies here */
  overflow-x: hidden; /* Page scrollbar applies here */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
